@font-face {
  font-family: 'Roboto';
  src: url('/fonts/Roboto-Regular-400.ttf') format('truetype');
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'Roboto';
  src: url('/fonts/Roboto-Medium-500.ttf') format('truetype');
  font-style: normal;
  font-weight: 500;
}


